/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #000000;
    font-size: 18px;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*font-family: 'Poiret One', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Amatic SC', cursive;
*/
/*colors:
beige: #E5D4A0
light gray: #DBD5D5*/



/*GLOBAL*/

body {
    font-family: 'Poiret One', cursive;
}

/*TEXT STYLES (a, a:hover, a:visited, a:active, p, h1, h2, h3, h4, etc.)*/
h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    text-align: center;
    margin-bottom: 0px;
}

h3 {
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    text-align: center;
    margin-top: 0px;
    text-transform: lowercase;
}



/*LAYOUT (columns, floats, etc.)*/




/*HEADER*/

header {
    height: 100vh;
    background-image: url('../img/header.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #FFFFFF;
    text-align: center;
    max-height: 800px;
}

.center {
    margin: 0 auto;
    position: relative;
    transform: translateY(-50%);
    top: 35%;
}
.center h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 85px;
}
.center h2 {
    font-size: 40px;
}

/*NAV*/


nav {
    width: 94%;
    background-color: #FFFFFF;
    z-index: 999;
    position: fixed;
    top: 0;
    padding-left: 140px;
    text-align: center;
    border-bottom: 1px solid #000000;
}

nav a {
    display: inline-block;
    padding: 20px 30px;
    font-family: 'Poiret One', cursive;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #000000;
    font-size: 16px;
}

.park{
    width: 10%;
}

.about {
    width: 10%;
    float: right;
    margin-right: 10px
}

a:visited {
    color: black;
}

a:hover {
    color: #6C7F5B;
}



/*SECTION*/

.section-container2 {
    background-color: #DBD5D5;
    padding: 25px 150px 40px 150px;
}

.section-container {
  padding: 25px 150px 40px 150px;
}



/*FORMS*/

input, textarea {
    display: inline-block;
    width: 500px;
    max-width: 100%;
    min-width: 300px;
    padding: 10px;
    border: 1px solid #000000;
}

form {
    padding-bottom: 40px;
    text-align: center;
}

.row {
    max-width: 100%;
    padding: 0 300px;
}


#name, #email, #subject {
    margin-top: 10px;
}

#message {
    padding-bottom: 40px;
    margin-top: 10px;
}

#button {
    clear: both;
    max-width: 100px;
    min-width: 100px;
}

/*FOOTER*/
.footer {
    text-align: center;
    font-weight: bold;
}







/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
